$color: #CD6478;

.Header {
  padding: 0.5em 1.5em;
  border-bottom: 5px solid $color;
}

@media (min-width: 768px) {
  .Header {
    display: flex;
    align-items: center;

    .Header-titles {
      display: flex;
      align-items: baseline;
    }
  }
}

.Header-title {
  a {
    text-decoration: none;
  }
}

.Header-actions {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  font-size: 0.9em;
}

@media (min-width: 384px) {
  .Header-actions {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .Header-actions {
    flex: 1;
    justify-content: flex-end;
    font-size: 0.9em;
  }
}

.Header-button {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.2s;
  border-radius: 2px;
  padding: 0.6em 1.5em;
  color: white;
  background-color: $color;
}

.Header-button:active, .Header-button:focus, .Header-button:hover {
  background: darken($color, 10%);
}

.Header-button {
  margin-bottom: 0.5em;
}

@media (min-width: 384px) {
  .Header-button {
    margin-right: 0.5em;
  }
}