$container-border-color: #ddd;
$header-bg: #f5f5f5;
$border-radius: 4px;

.notes-container {
  border: 4px solid $container-border-color;
  display: flex;
  min-height: 100vh;
  box-sizing: border-box; // Don't show vertical scrollbar

  .notes-list-container {
    display: flex;
    flex-direction: column;
    min-width: 30%;
    //flex-grow: 1;

    border: 1px solid $container-border-color;
    border-radius: $border-radius;

    header.notes-list-header {
      background-color: $header-bg;
      border-bottom: 1px solid $container-border-color;
      padding: 10px;

      // Re-apply border radius to prevent cropping
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;

      display: flex;
      justify-content: space-between;

      .notes-list-header-icon {
        vertical-align: middle; // for img
      }
      .notes-list-header-title {
        text-align: center;
        flex-grow: 1;
      }
      .notes-list-header-button {
      }
    }

    .notes-list-content {
      flex-grow: 1;
      overflow-y: scroll;
    }

    .notes-list-item {
      border-bottom: 1px solid $container-border-color;
      padding: 10px;
    }

    // re-enable when some content to set in footer
    /*
    footer.notes-list-footer {
      //padding: 10px;
      background-color: $header-bg;
      text-align: center;

      // Re-apply border radius to prevent cropping
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
    */
  }

  .notes-edit-container {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    .notes-edit-textarea {
      flex: 1;
      border: 0;
      padding: 10px;
      resize: none;
    }

    .notes-edit-footer {
      background-color: $header-bg;
      border-top: 1px solid $container-border-color;
      padding: 10px;
    }
  }
}
